PORT=8080
DATABASE=mongodb://localhost:27017/medicare
SUPER_SECRET_KEY="ADOLF_HIT_HER____MAHATMA_BOMBING____VLADMIR_SHOOTING"
AUTH_MAIL=sandeepkherkatary123@
AUTH_PASS=Sandeep
SERVER_URL=http://localhost:8080/

